.Blue {
    background-color: #1A85FF;
    width: 250px;
    height: 250px;
    margin: 25px;
}

.Blue:hover {
    border: 5px solid rgb(0, 0, 0);
}

.Green {
    background-color: #1AFF1A;
    width: 250px;
    height: 250px;
    margin: 25px;
}

.Green:hover {
    border: 5px solid rgb(0, 0, 0);
}

.Yellow {
    background-color: #FEFE62;
    width: 250px;
    height: 250px;
    margin: 25px;
}

.Yellow:hover {
    border: 5px solid rgb(0, 0, 0);
}

.Red {
    background-color: #DC3220;
    width: 250px;
    height: 250px;
    margin: 25px;
}

.Red:hover {
    border: 5px solid rgb(0, 0, 0);
}

div.modal-content {
    background-color: rgba(0, 0, 255, 0);
    display: flex !important;
}

.passwordText {
    margin-left: 20%;
    color: rgb(255, 255, 255);
}

.passAnswer {
    margin-left: 20%;

    width: 150px;
    height: 40px;
    background-color: rgb(100, 105, 109);
}

.answer {
    color: rgb(255, 255, 255);
}

.buttonSub {
    height: 40px;
    margin-left: 10px;
}

@media (max-width: 428px) {

    .Green {
        padding-top: 50px;
        margin: 15px;
        width: 110px;
        height: 110px;
    }

    .Blue {
        width: 110px;
        height: 110px;
        margin: 15px;

    }

    .Red {
        width: 110px;
        height: 110px;
        margin: 15px;

    }

    .Yellow {
        width: 110px;
        height: 110px;
        margin: 15px;
    }

    .passwordText {
        margin-left: 75px;
        font-size:20px;
    }

    .textfield{
        font-size:medium;
        margin-left: 10px;
    }
}